* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-size: 16px;
  }

  header{
      background-color: #ADD8E6;
      padding: .35rem 0;
  }
  
  .container {
    width: 100%;
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
  }

/* UTILITY */

  .padding-xl{
      padding: 2rem 0;
  }

  .padding-s{
      padding: .60rem 0;
  }

  .bg-orange{
      background-color: #DAA520;
  }

  .bg-blue{
      background-color: #00008B;
  }

  .bg-grey{
      background-color: #D3D3D3;
  }

  .bg-dark{
    background-color: black;
  }

  .bg-pink{
    background-color: #FFC0CB;
  }

  .bg-light-blue{
    background-color: #1E90FF;
  }

  .bg-dark-pink{
      background-color: #F08080;
  }

  .bg-water{
      background-color: #20B2AA;
  }

  .bg-water-light{
      background-color: #7FFFD4;
  }

  .d-flex{
      display: flex;
  }
  
  .j-content-between{
      justify-content: space-between;
  }

  .row-reverse{
    flex-direction: row-reverse;
  }

  .container .logo{
      width: 20%;
      border: 1px dashed black;
  }

  .container .main-menu{
    flex-grow: 1;
    border: 1px dashed black;
}

  .container .login{
      width: 20%;
      text-align: right;
      border: 1px dashed black;
  }

  .main-menu ul{
      justify-content: center;
      gap: 10px;
  }

  .main-menu ul li{
      list-style: none;
  }

  section .container .container-s{
    width: 80%;
    margin: 0 auto;
    background-color: #EE82EE;
    min-height: 300px;
  }

  .container .col{
    min-height: 350px;
    border: 1px dashed black;
  }

  .col.col-l{
      flex-grow: 2;
  }

  .col.col-s{
      flex-grow: 1;
  }

  .container .container-l{
      min-height: 550px;
      background-color: #228B22;
  }

  .logo-footer{
      padding: .25rem;
  }

  .registration{
      padding: .25rem;
  }

  .separator{
      border-bottom: 1px solid white;
      padding: .75rem 0
  }

